<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.andaifuapp539035" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>国健医生</name>
  <description>
        国健在线医生端手机移动应用
    </description>
    <author href="http://http://www.daifu2u.com/">
      国健移动医疗
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="www/app/static/image/logo.png" density="mdpi"/>
  </platform>
</widget>
