#chatList {
    min-width: 320px;
    min-height: 100%;
    background-color: #F1F1F1;
}

#chatList a.chatListItem {
    display: block;
    position: relative;
    padding: 10px 0 10px 14px;
    border-bottom: 1px solid #e1e1e1;
    height: 45px;
    text-decoration: none;
}

#chatList a div {
    display: inline-block;
    position: relative;
    float: left;
    height: 45px;
    margin-right: 13px;
}

#chatList a div img:last-child {
    position: absolute;
    left: 100%;
    top: -4.5px;
    margin-left: -4.5px;
}

#chatList a p:nth-child(2) {
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 12.5px;
    color: #565656;
}

#chatList a p:nth-child(3) {
    font-size: 14px;
    line-height: 1em;
    color: #999999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65%;
}

#chatList a span {
    font-size: 12px;
    color: #d6d6d6;
    float: right;
    position: absolute;
    top: 10px;
    right: 31.5px;
}