<!--
/*
 * AUTHOR:       chenjiajian
 * EMAIL:        798095202@qq.com
 * CREATE TIME:  2015.2.4
 **/
-->
<!-- <div class="top_bar">
    <a ui-sref="dateTimeAble"><img src="app/static/image/top_arrow.png" width="16px" height="16px"/></a>
    <span>我的预约</span>
</div>

<div class="ui divider"></div>

<h4 class="ui black block header">
    我的预约表
</h4>

<form>
    <span>可预约时间</span>

    <div class="ui selection dropdown">
        <input type="hidden" name="gender">
        <div class="text">周一</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="Monday" ng-click="bindAfterClick(1)">周一</div>
            <div class="item" data-value="Tuesday" ng-click="bindAfterClick(1)">周二</div>
            <div class="item" data-value="Wednesday" ng-click="bindAfterClick(1)">周三</div>
            <div class="item" data-value="Thursday" ng-click="bindAfterClick(1)">周四</div>
            <div class="item" data-value="Friday" ng-click="bindAfterClick(1)">周五</div>
            <div class="item" data-value="Saturday" ng-click="bindAfterClick(1)">周六</div>
            <div class="item" data-value="Sunday" ng-click="bindAfterClick(1)">周日</div>
        </div>
    </div>

    <div class="ui selection dropdown">
        <input type="hidden" name="gender">
        <div class="text">9-10点</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="9:00-10:00"  ng-click="bindAfterClick(2)">9-10点</div>
            <div class="item" data-value="10:00-11:00" ng-click="bindAfterClick(2)">10-11点</div>
            <div class="item" data-value="11:00-12:00" ng-click="bindAfterClick(2)">11-12点</div>
            <div class="item" data-value="12:00-13:00" ng-click="bindAfterClick(2)">12-13点</div>
            <div class="item" data-value="13:00-14:00" ng-click="bindAfterClick(2)">13-14点</div>
            <div class="item" data-value="14:00-15:00" ng-click="bindAfterClick(2)">14-15点</div>
            <div class="item" data-value="15:00-16:00" ng-click="bindAfterClick(2)">15-16点</div>
            <div class="item" data-value="16:00-17:00" ng-click="bindAfterClick(2)">16-17点</div>
        </div>
    </div>

    <br/>

    <span>可预约人数</span>
    <div class="ui selection dropdown">
        <input type="hidden" name="gender">
        <div class="text">1</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="1" ng-click="bindAfterClick(3)">1</div>
            <div class="item" data-value="2" ng-click="bindAfterClick(3)">2</div>
            <div class="item" data-value="3" ng-click="bindAfterClick(3)">3</div>
            <div class="item" data-value="4" ng-click="bindAfterClick(3)">4</div>
            <div class="item" data-value="5" ng-click="bindAfterClick(3)">5</div>
            <div class="item" data-value="6" ng-click="bindAfterClick(3)">6</div>
            <div class="item" data-value="7" ng-click="bindAfterClick(3)">7</div>
            <div class="item" data-value="8" ng-click="bindAfterClick(3)">8</div>
            <div class="item" data-value="9" ng-click="bindAfterClick(3)">9</div>
            <div class="item" data-value="10" ng-click="bindAfterClick(3)">10</div>
        </div>
    </div>

    <br/>

    <button class="ui secondary button" ng-click="submitNewBookingTime()">
        修改预约时间表
    </button>
</form> -->