
<div id="login_body">
    <section>
        <h2 class="white">健身在线 - 教练入口</h2>
        <image src="app/static/image/login_logo.png" width="69px" height="69px" class="circular ui image" />
        <p>Welcome, Coach</p>

        <form name="loginForm">
            <div>
                <image src="app/static/image/login_name.png" width="16px" height="14px"/>
                <label>账号：</label>
                <input type="text" ng-model="user.name" required autofocus="autofocus" maxlength="20"/>
            </div>

            <div>
                <image src="app/static/image/login_pwd.png" width="16px" height="14px"/>
                <label> 密码：</label>
                <input type="password" ng-model="user.password" required maxlength="20">
            </div>

            <button class="ui submit button standardGreen" ng-click="submit(loginForm.$valid)">登陆</button>
        </form>

    </section>
</div>
