<!DOCTYPE HTML>
<html ng-app="myIndex">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>andaifuonline</title>

    <!-- css -->
    <link href="./styles/semantic/packaged/css/semantic.css" rel="stylesheet">
    <link href="./styles/login.css" rel="stylesheet">
    <link href="./styles/homepage.css" rel="stylesheet">
    <link href="./styles/top_bar.css" rel="stylesheet">
    <link href="./styles/clinicNews.css" rel="stylesheet">
    <link href="./styles/clinicInfo.css" rel="stylesheet">
    <link href="./styles/clinicDoctor.css" rel="stylesheet">
    <link href="./styles/date.css" rel="stylesheet">
    <link href="./styles/userInfo.css" rel="stylesheet">
    <link href="./styles/chatList.css" rel="stylesheet">
    <link href="./styles/chatRoom.css" rel="stylesheet">
    <link href="./styles/dateTimeAble.css" rel="stylesheet">
    <link href="./styles/general.css" rel="stylesheet">

    <!-- javascript -->
    <script type="text/javascript" src="./bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="./bower_components/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./styles/semantic/packaged/javascript/semantic.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-file-upload-master/angular-file-upload.js"></script>
    <!-- app.js -->
    <script type="text/javascript" src="./scripts/app.js"></script>
    <script type="text/javascript" src="./scripts/virtual.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="./scripts/controllers/homepage.js"></script>
    <script type="text/javascript" src="./scripts/controllers/clinic.js"></script>
    <script type="text/javascript" src="./scripts/controllers/chat.js"></script>
    <script type="text/javascript" src="./scripts/controllers/user.js"></script>
    <script type="text/javascript" src="./scripts/controllers/log.js"></script>
    <script type="text/javascript" src="./scripts/controllers/healthInfo.js"></script>
    <script type="text/javascript" src="./scripts/controllers/healthManage.js"></script>
    <!-- services -->
    <script type="text/javascript" src="./scripts/services/logServices.js"></script>
    <script type="text/javascript" src="./scripts/services/clinicServices.js"></script>
    <!-- directives -->
    <!-- filter -->
</head>
<body>
<div ng-view></div>
</body>
</html>
